<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <header>
    <a class="otdel" href="/otdel/0">Бухгалтерсое отделение</a>
    <a class="otdel" href="/otdel/1">Строительное отделение</a>
  </header>
  <body>
    <div class="date_list">
      <h2>{{ otdel }}</h2>
      {% for date in dates %}
        <h3><a href="table/{{ date[0] }}">{{ date[1] }}</a></h3>
      {% endfor %}
    </div>
  </body>
</html>
